@using BeGorgeous.Web.ViewModels.Appointments
@model AppointmentsListViewModel

@{
    this.ViewData["Title"] = "Default";
}

<div class="container">
    @if (@Model.Appointments.Count() > 0)
    {
        <h2 id="text">Past (@Model.Appointments.Count())</h2>

        <table class="table table-bordered table-striped">
            <thead class="thead-light" id="content">
                <tr>
                    <th scope="col">Date and Time</th>
                    <th scope="col">Salon</th>
                    <th scope="col">Address</th>
                    <th scope="col">Service</th>
                    <th scope="col">Rate Salon</th>
                    <th scope="col">Book Again</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var appointment in this.Model.Appointments)
                {
                    <tr>
                        <th scope="row">@appointment.DateTime</th>
                        <td>@appointment.Salon.Name</td>
                        <td>@appointment.Salon.StreetAddress</td>
                        <td>@appointment.TreatmentName</td>
                        <td>
                            @if (appointment.IsSalonRatedByTheUser == true)
                            {
                                <p id="content">Already Rated!</p>
                            }
                            else
                            {
                                <div class="button button-large" id="btn">
                                    <a asp-area="" asp-controller="Appointments" asp-action="RatePastAppointment" asp-route-id="@appointment.Id">
                                        <span>Rate Salon</span>
                                        <span>Rate Salon</span>
                                    </a>
                                </div>
                            }
                        </td>
                        <td>
                            <div class="button elements_button" id="btn">
                                <a asp-area="" asp-controller="Appointments" asp-action="BookAppointment" asp-route-salonId="@appointment.SalonId" asp-route-treatmentId="@appointment.TreatmentId">
                                    <span>book again</span><span>book again</span>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
