@using BeGorgeous.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"]</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    @*<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/css/sidebar.css" rel="stylesheet" asp-append-version="true" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" asp-append-version="true">
    <!-- Bootstrap Styles -->
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" asp-append-version="true">
    <!-- Vendor Styles -->
    <script src="https://kit.fontawesome.com/eedcfd73b3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="~/assets/vendors/slick-carousel/slick.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/assets/fonts/themify-icons.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/assets/vendors/magnific-popup/magnific-popup.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/assets/css/hovereffects.css" asp-append-version="true" />
    <!-- Theme Styles -->
    <link href="~/assets/css/scrolling-nav.css" rel="stylesheet" asp-append-version="true" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/assets/css/theme.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/assets/css/styles.css" asp-append-version="true" />

    @this.RenderSection("Styles", required: false)
</head>
<body>
    <div class="super_container">

        <!-- Home -->
        <partial name="_ManagerHeaderPartial" />

        <div class="container">
            <div style="padding-top: 90px;">

                <div class="text-center">
                    <a style="color: #BA55D3" asp-area="" asp-controller="Home" asp-action="Index"><strong>BACK TO HOME PAGE</strong></a>
                </div>
                <hr class="bg-dark mx-4" style="height: 6px;" />
                <div class="d-flex" id="wrapper">
                    <!-- Sidebar -->
                    <partial name="_ManagerSidebarPartial" />

                    <!-- Page Content -->
                    <div id="page-content-wrapper">
                        <div class="container-fluid">
                            <div class="col-12">
                                <main role="main">
                                    @this.RenderBody()
                                </main>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <hr class="bg-dark mx-4" style="height: 6px;" />
        <!-- Footer -->
        <footer class="bg-dark py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 text-center text-md-left mb-3 mb-md-0">
                        <small class="text-white"><a class="text-white" href="">@GlobalConstants.SystemName</a> everywhere, every day! <br>© All Rights Reserved</small>

                    </div>

                    <div class="col-md-4 align-self-center">
                        <ul class="list-inline text-center text-md-right mb-0">
                            <li>
                                <a class="text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a>
                            </li>
                            <li class="list-inline-item mx-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                                <a class="text-white" target="_blank" href="https://www.facebook.com">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item mx-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Instagram">
                                <a class="text-white" target="_blank" href="https://www.instagram.com">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                            <li class="list-inline-item mx-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                                <a class="text-white" target="_blank" href="https://twitter.com">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item mx-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="GitHub">
                                <div class="footer_phone ml-lg-auto">
                                    <a class="text-white" target="_blank" href="https://github.com/dinikolaeva/BeGorgeous">
                                        <i class="fab fa-github" aria-hidden="true"></i>
                                        <span> Open Source System</span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- JS Script Files -->
    <script src="~/assets/vendors/jquery.min.js" asp-append-version="true"></script>
    <script src="~/assets/vendors/jquery.migrate.min.js" asp-append-version="true"></script>
    <script src="~/assets/vendors/popper.min.js" asp-append-version="true"></script>
    <script src="~/assets/vendors/bootstrap/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/assets/vendors/jquery-easing/jquery.easing.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/plugins/OwlCarousel2-2.2.1/owl.carousel.js" asp-append-version="true"></script>

    <!-- Components Vendor  -->
    <script src="~/assets/vendors/slick-carousel/slick.min.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.js" asp-append-version="true"></script>
    <script src="~/assets/vendors/magnific-popup/jquery.magnific-popup.min.js" asp-append-version="true"></script>
    <script src="~/assets/vendors/counters/waypoint.min.js" asp-append-version="true"></script>
    <script src="~/assets/vendors/counters/counterup.min.js" asp-append-version="true"></script>

    <script src="~/assets/contact/jqBootstrapValidation.js" asp-append-version="true"></script>
    <script src="~/assets/contact/contact_me.js" asp-append-version="true"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js" asp-append-version="true"></script>
    <script src="~/assets/js/scrolling-nav.js" asp-append-version="true"></script>
    <!--Plugin Initialize-->
    <script src="~/assets/js/global.js" asp-append-version="true"></script>

    <!-- Theme Components and Settings -->
    <script src="~/assets/vendors/counters.js" asp-append-version="true"></script>
    <script src="~/assets/vendors/carousel.js" asp-append-version="true"></script>

    <!-- END JAVASCRIPTS -->
    @this.RenderSection("Scripts", required: false)
</body>
</html>
