@using BeGorgeous.Web.ViewModels.Treatments
@model TreatmentsListViewModel
@{
    this.ViewData["Title"] = "Treatments";
}

<partial name="_HeaderPartial" />

<section class="bg-light wt-section" id="team">
    <div class="container">
        <div class="row justify-content-md-center text-center pb-lg-4 mb-lg-5 mb-4">
            <div class="col-md-12">
                <h2 class="h1" id="text">Our Treatments</h2>
                <p class="lead text-muted">It’s the BeGorgeous’s goal to help you Be More Beautiful from the minute you leave us until you join us next time.</p>
            </div>
        </div>

        <div class="row">
            @foreach (var treatment in @Model.Treatments)
            {
                <div class="col-lg-4 mb-3 mb-lg-0 text-center" data-aos="fade-up" data-aos-easing="linear" data-aos-delay="100">
                    <div class="d-block mb-4">
                        <img src="@treatment.IconUrl" style="width:100px;" class="pr-4" alt="">
                    </div>
                    <h4 class="h5" id="text">@treatment.Name</h4>
                    <div class="row"> 
                        <div class="col">
                            <div class="button ml-auto mr-auto" id="treatments">
                                <a asp-area="" asp-controller="Treatments" asp-action="Details" asp-route-salonId="@Model.SalonId" asp-route-treatmentId="@treatment.Id"><span>See details</span><span>See details</span></a>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="my-5">
            }
        </div>
    </div>

</section>